<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawelgorny.oddscalculator"
    android:versionName="0.8" android:versionCode="1">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pawelgorny.oddscalculator.view.TableActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>